@import "tailwindcss";

@theme {
  --radius-xs: var(--mui-shape-borderRadius-xs, 4px);
  --radius-sm: var(--mui-shape-borderRadius-sm, 8px);
  --radius-md: var(--mui-shape-borderRadius-md, 12px);
  --radius-lg: var(--mui-shape-borderRadius-lg, 16px);
  --radius-xl: var(--mui-shape-borderRadius-xl, 28px);
  --radius-full: 9999px;
}

/* Layer priority: ensure Tailwind utilities take precedence over base MUI styles */
/* @layer theme, base, components, utilities; */
